.root {
  min-height: 100vh;
  background: #050505;
  display: flex;
}

.main {
  flex: 1;
  margin-left: 240px; /* sidebar width */
  padding-top: 64px;  /* navbar height */
  padding: 64px 0 0 240px;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
    padding: 64px 0 0 0;
  }
}
